/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.containar {
    background-color: green;
    width: 1600px;
    margin: 0 auto;
}
.header {
    width: 1170px;
}
.navigation {
    position: relative;
}

.logo {
    display: inline-block;
    /* color: rgb(81, 81, 81);
    font: 30px "Roboto", sans-serif; */
}
.size-logo {
    color: rgb(81, 81, 81);
    font: 30px "Roboto ", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: rgb(81, 81, 81);
    font: 30px "Roboto", sans-serif;
    font-weight: 900;

}
.meny {
    color: rgb(81, 81, 81);
    font: 16px "Roboto", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);

}

.meny a {
    text-decoration: none;
    text-transform: uppercase;
}

.meny li {
    display: inline-block;
}

.meny li:not(:last-child) {
    margin-right: 30px;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.meny {
    
}

.Rectangle_2 {
    background-color: rgb(0, 0, 2);
    opacity: 0.522;
    position: absolute;
    left: -84px;
    top: 88px;
    width: 1807px;
    height: 607px;
    z-index: 72;
  }
  
  .img {
      position: relative;
  }

  .re {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translateX(-50%) translateY(-50%);
      background-color: #fff;
      display: inline-block;

}
.footer {
    display: inline-block;
    padding: 10px;
}