* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #555252;
}

main {
  background-color: rgb(233, 240, 253);
}

.containar {
  width: 1600px;
  margin: 0 auto;
}
.header {
  width: 1170px;
}
.navigation {
  padding: 36px 0 32px;
  position: relative;
}

.logo {
  display: inline-block;
}

.size-logo::first-letter {
  color: rgb(26, 188, 156);
  font: 30px "Roboto-Black", sans-serif;
  font-weight: 900;
}

.size-logo {
  color: rgb(81, 81, 81);
  font: 30px "Roboto ", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: rgb(81, 81, 81);
  font: 30px "Roboto", sans-serif;
}

.meny {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
}

.meny a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  font: 16px "Roboto", sans-serif;
  font-weight: 700;
}
.meny a:hover {
  color: rgb(26, 188, 156);
}

.meny li {
  display: inline-block;
}

.meny li:not(:last-child) {
  margin-right: 30px;
}

/* <!-- Slider -->  */

.slider {
  position: relative;
}

.slides-item {
  position: relative;
  list-style: none;
}

.slides img {
  position: relative;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.slider-title {
  position: absolute;
  width: 730px;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 50px;
  font-family: "Roboto";
}
.description-toer {
  position: absolute;
  width: 730px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 25px;
  font-family: "Roboto";
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0px;
  width: 104px;
  height: 104px;
  background-color: rgb(78, 198, 171);
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.pe-7s-angle-left,
.pe-7s-angle-right {
  color: #ffffff;
  font-size: 100px;
  font-family: "Pe-icon-7-stroke";
}

.one {
  left: 245px;
}

.two {
  right: 245px;
}

.button p {
  color: white;
}

/* TITLE */
.feature-title {
  font: 48px "Roboto-Black", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: -2px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title {
  position: relative;
  padding: 0;
  margin: 0;
  height: 253px;
}

.title::after {
  content: "";
  display: block;
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
  margin: 30px auto 0;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%) translateY(-50%);
}

/* menu */

.features {
  display: inline-block;
}

.feature {
  list-style: none;
  padding-left: 245px;
}

.feature-list-title {
  float: left;
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 255px;
  background-color: rgb(233, 240, 253);
  font-size: ;
}

.feature-list-title:nth-child(4n) {
  margin-right: 0;
}

.hover {
  position: relative;
}

.overley {
  position: absolute;
  width: 255px;
  height: 282px;
  border-width: 10px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.name-feature {
  display: inline-block;
  width: 255px;
  padding-left: 14px;
  background-color: rgba(50, 50, 50, 1);
}

.name-feature a,
.price {
  text-transform: uppercase;
  font: 18px "Roboto", sans-serif;
  font-weight: 900;
  line-height: 2.5;
  text-decoration: none;
  color: #fff;
}

.price {
  float: left;
  padding: 0;
  width: 55px;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.44);
}

.name-feature a {
  float: left;
  width: 186px;
}

.bloc-botum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 165px;
  height: 105px;
}

.feature-list-title img {
  display: block;
  max-width: 100%;
}

.feature-list-title:hover .overley {
  opacity: 1;
}

.feature-list-title:hover .name-feature {
  background-color: rgb(26, 188, 156);
}

.feature-list-title:hover .price {
  background-color: rgb(255, 255, 255, 0.44);
}

.pe-7s-cart {
  border-width: 1px;
  border-style: solid;
  width: 165px;
  height: 50px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
}

.pe-7s-cart span {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}

.pe-7s-like,
.pe-7s-shuffle,
.pe-7s-clock {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pe-7s-like {
  position: absolute;
  left: 0;
}

.pe-7s-shuffle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.pe-7s-clock {
  position: absolute;
  right: 0;
}
.pe-7s-like:hover,
.pe-7s-shuffle:hover,
.pe-7s-clock:hover,
.pe-7s-cart:hover {
    background-color: rgb(26, 188, 156);
    border-color: rgb(26, 188, 156);
}

/* FOOTER */

.footer {
    
    background-color: rgb(81, 81, 81);
    height: 88px;
    font-family: "Open Sasn", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
    text-align: center;
    line-height: 1.75;
    padding-top: 15px;
}

.footer-a {
    color: #1abc9c;
    text-decoration: none;
}





